@model Solutions.Models.Module

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="well">
        <h1><strong>@Html.DisplayFor(model => model.Name)</strong></h1>

        @if (Model.Courses.Count > 0)
        {
            <div class="row">
                <table class="table table-striped table-hover col-sm-12">
                    <thead>
                        <tr>
                            <th><h3><strong>Name</strong></h3></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in Model.Courses)
                        {
                            <tr>
                                <td>
                                    <h4>
                                        <h3>
                                            <strong>
                                                @Html.ActionLink(string.Format($"{course.Name}"), "ListChapters", "Home", new { @courseId = course.Id }, null)
                                            </strong>
                                        </h3>
                                    </h4>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>


