@model Solutions.Models.Module

@{
    ViewBag.Title = "List";
}

<div class="container">

        <h1><strong>Module: @Html.DisplayFor(model => model.Name)</strong></h1>
        <br />

        @if (Model.Courses.Count > 0)
        {
            <div class="row">
                <table class="table table-striped table-hover col-sm-12">
                    <tr>
                        <th>
                            Course:
                        </th>
                        <th>
                            Number of chapters:
                        </th>
                    </tr>
                        @foreach (var course in Model.Courses)
                        {
                            <tr onclick="location.href = '@(Url.Action("ListChapters", "Home", new { @courseId = course.Id }))'">
                                <td>
                                    <h3>
                                        <strong>
                                            @course.Name
                                        </strong>
                                    </h3>
                                </td>

                                <td>
                                    <h1>
                                        @course.Chapters.Count
                                    </h1>
                                </td>
                            </tr>

                        }
                </table>
            </div>
        }

</div>


