@model Solutions.Models.Module

@{
    ViewBag.Title = "List";
}

<div class="container">

        <h1><strong>@Html.DisplayFor(model => model.Name)</strong></h1>

        @if (Model.Courses.Count > 0)
        {
            <div class="row">
                <table class="table table-striped table-hover col-sm-12">

                        @foreach (var course in Model.Courses)
                        {
                            <tr>
                                <td>
                                    <h2>

                                            <strong>
                                                @Html.ActionLink(string.Format($"{course.Name}"), "ListChapters", "Home", new { @courseId = course.Id }, new { @style = "text-decoration:none;" })
                                            </strong>

                                    </h2>
                            </tr>
                        }

                </table>
            </div>
        }

</div>


