@model Solutions.Models.Course

@{
    ViewBag.Title = "List";
}

<div class="container">

        <h1><strong>@Html.DisplayFor(model => model.Name)</strong></h1>

        @if (Model.Chapters.Count > 0)
        {
            <div class="row">
                <table class="table table-striped table-hover col-sm-12">

                        @foreach (var chapter in Model.Chapters)
                        {
                            <tr>
                                <td>
                                    <h2>
                                        @Html.ActionLink(string.Format($"{chapter.Title}"), "ListPosts", "Home", new { @chapterId = chapter.Id }, new { @style = "text-decoration:none;" })
                                    </h2>
                                </td>

                                <td><h4><strong>@chapter.Posts.Count</strong></h4></td>
                            </tr>
                        }
      
                </table>
            </div>
        }

</div>
